/* Set a background color and text color */
body {
    background-color:#FBF5F3;
    color: #000909;
    margin: 0;
    padding: 0;
}


/* Style the navigation bar */
nav {
    background-color:#8E4A49;
    text-align: right;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    /* background-color: #8E4A49; */
    color: #c18281;
}

/* Style the main content area */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    background-color: #8E4A49;
    color: #fff;
    text-align: center;
    padding: 2px;
}

/* Add design elements in orange */
header h1,
nav ul li a {
    color: #130101;
}

/* Additional styles for specific sections */
.maincontainer {
    min-height: 100vh;
}

#home {
    min-height: fit-content;
    background-color: #FBF5F3;
}

#conferencedetails {
    min-height: 1000px;
    background-color: #FBF5F3;
}

#ConferenceSpeakerDetailsandTimeline {
    min-height: 1000px;
    background-color: #FBF5F3;
}
#JournalSubmissionLinkandGuidelines{
    min-height: 1000px;
    background-color: #FBF5F3;
}